// Nova Tool CSS

.btn-sm{
  line-height: 1.875rem;
}

.btn-warning{
  background-color: #FFA075;
  color: white;
}

.btn-white{
  background-color: #ffffff;
  color: black;
  border: 1px solid #ddd;
}

.btn-success{
  background-color: #6AC259;
  color: white;
}

.btn-accent{
  background-color: #7d5aad;
  color: white;
}

.btn-dark{
  background-color: #252d37;
  color: white;
}
